---
---

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/newbie/">Newbie</a></li>
    <li><a href="/junior/">Junior</a></li>
    <li><a href="/intermediate/">Intermediate</a></li>
    <li><a href="/advanced/">Advanced</a></li>
  </ul>
</nav>
